* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --backgrond: #000;
  --text-color: #FFF;
  --button: #8257E5;
  --border: #29292E;
  --border-menu-mobile: #A8A8B3;
  --text-color-menu-mobile: #E1E1E6;

  /* fontes */

  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;

  --title-font: 'Manrope', sans-serif;
}

html{
  position: absolute;
  width: 1360px;
  height: 768px;
  left: 132px;
  top: 0px;
  background: #000000;
}


.container{
  margin-left: 3rem;
  margin-right: 3rem;
}

.title, p{
  color: white;
  text-decoration: none;
}

header{
  align-items: baseline;
  justify-content: center;
  display: flex;
  margin-top: 2rem;

  gap: 5rem;
  font: 400 1rem var(--title-font);
}

button {
  background-color: rgb(0, 0, 0);
  border: 1px solid #8257E5;
  border-radius: 0.25rem;
  cursor: pointer;

}

header button p {
  margin-top: 11px;
  margin-bottom: 11px;
  margin-left: 2rem;
  margin-right: 2rem;
}

/* useless line  */