* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --backgrond: #000;
  --text-color: #FFF;
  --button: #8257E5;
  --border: #29292E;
  --border-menu-mobile: #A8A8B3;
  --text-color-menu-mobile: #E1E1E6;

  /* fontes */

  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;

  --title-font: 'Manrope', sans-serif;
}

/* reset ^ */

.title, p{
  color: var(--text-color);
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}

header{
  align-items: baseline;
  justify-content: center;
  display: flex;
  margin-top: 50px;
  width: 116rem;
  gap: 3rem;
  font: 400 1rem var(--title-font);
}

/* header ^ */

body{
  background: var(--backgrond);
}

#button {
  position: absolute;
  margin-top: -2rem;
  background-color: rgb(0, 0, 0);
  border: 1px solid var(--button);
  border-radius: 0.25rem;
  cursor: pointer;
  margin-left: 90rem;
}

#button p {
  margin-top: 11px;
  margin-bottom: 11px;
  margin-left: 2rem;
  margin-right: 2rem;
}


#logo-desktop {
  margin-top: 20px;
  position: absolute;
  width: 60px;
  height: 50px;
  left: 280px;
  top: 24px;
  cursor: pointer;
}

/* button and logo */

h1 {
  color: var(--text-color);
  font: 700 80.5px var(--title-font);
  margin-top: 45px;
  margin-left: 680px;
}

h2 {
  color: #000;
  font: 700 82px var(--title-font);
  margin-top: -15px;
  margin-left: 635px;
  text-shadow: 1px -1px 0px var(--button), 
  -1px 1px 0px var(--button),                    
   1px -1px 0px var(--button),                  
   1px 0px 0px var(--button);

}
 
/* h1 e h2  */

#bola-direita{
  position: absolute;
  width: 750px;
  height: 610px;
  left: 1127px;
  top: -63px;
}

#bola-esquerda{
  position: absolute;
  margin-top: -40px;
  width: 1000px;
  height: 686px;
}

/* blur balls */

#copos {
  position: absolute;
  width: 1033px;
  height: 590px;
  left: 407px;
  top: 380px;
}